/* Kode for kalkulatoren */

.calculator {
    flex: 0 0 40%;
    width: 50%;
    opacity: 0.9;
}
.screen {
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgb(41, 41, 56);
    color: white;
    border: none;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}
button {
    flex: 0 0 25%;
    /*border: 1px solid black;*/
    padding: 0.25rem 0;
    transition: all 1s ease;
}
button:hover {
    cursor: pointer;
}
.btn-yellow {
    background: rgb(245, 146, 62);
    color: white;
}
.btn-yellow:hover {
    background: rgb(199, 119, 50);
}
.btn-grey {
    background: rgb(224, 224, 224);
}
.btn-grey:hover {
    background: rgb(189, 183, 183);
}
.btn, .btn-equal, .btn-clear {
    font-size: 3rem;
}
.btn-equal {
    background: green;
}
.btn-equal:hover {
    background: rgb(1, 99, 1);
}
.btn-clear {
    background: red;
}
.btn-clear:hover {
    background: rgb(189, 2, 2);
}