* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /*background: #545454;*/
    background: #000;
}
.navbar__header {
    /*background: #545454;*/
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    /*border-bottom: 0.3rem solid #6baa75;*/
}
.navbar__logo {
    margin-top: 5px;
}
#myLogo {
    outline: none;
    color: white;
    margin-top: 13.5px;
    margin-left: 10px;
    font-size: 2rem;
    font-family: orbitron;
}
#logoo {
    text-decoration: none;
}
.navbar__btn {
    align-self: center;
    /*border: 5px solid #6baa75;*/
    border: 5px solid #fff;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    /*background: #6baa75;*/
    background: #fff;
    transition: all 1s ease;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 9px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-9px, -9px);
}
.navbar__links {
    list-style-type: none;
    transition: all 1s ease;
    /* */
    height: 0;
    overflow: hidden;
    position: absolute;
}
.navbar__collapse {
    height: 240px;
    background: transparent;
    position: absolute;
}
.navbar__single-link {
    display: block;
    /*background: #69747c;*/
    /*background: black;*/
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    /*color: #6baa75;*/
    color: #fff;
    transition: all 1s ease;
    cursor: pointer;
}
.navbar__single-link:hover {
    padding-left: 1.5rem;
    /*background: #545454;*/
    /*background: rgb(12, 12, 12);*/
    opacity: 0.7;
}

/* Kode for image slider */

/*
.images {
    flex: 0 0 80%;
    min-height: 100vh;
    background: url("img/bcg-0.jpg")center no-repeat;
    position: relative;
}
*/


/* Kode for klokka

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #6baa75;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

/* Login */

.login {
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 11.5px; 
    padding: 0.5rem 3rem;
}

.login:hover {
    cursor: pointer;
    opacity: 0.7;
}

.loginLink {
    text-decoration: none;
}

#contactBtn {
    opacity: 0.7;
}

/* Social media */

.socialM.fab {
    margin-top: 11.5px;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin-in {
    color: white;
}

.socialM.fab:hover {
    opacity: 0.7;
}

/* Contact form */

.contact-title {
    margin-top: 30px;
    color: #fff;
    text-transform: capitalize;
    transition: all 4s ease-in-out;
}

.contact-title h1 {
    font-size: 28px;
    line-height: 50px;   
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 40%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

#messageId {
    height: 135px;
}

form .submit {
    /*background: #ff5722;*/
    background: grey;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    /*background-color: #f44336;*/
    opacity: 0.7;
    cursor: pointer;
}

#contactBody {
    margin: 0;
    padding: 0;
    text-align: center;
    /*background: linear-gradient(rgbaa(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(background.jpg);
    background-size: cover;
    background-position: center;*/
    font-family: sans-serif;
}