/* To do list */

p {
    font-weight: 600;
}
#enter {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #FFF;
    /*background-color: #6baa75;*/
    background-color: rgb(29, 28, 28);
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    font-weight: normal;
    outline: none;
}
#enter:hover {
    /*background-color: #5d9667;*/
    background-color: #fff;
    /*color: #FFCD5D;*/
    color: black;
    cursor: pointer;
}
#todo {
    text-align: left;
}
.inputBox {
    margin-bottom: 20px;
}
#todo li {
    list-style: none;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    background: grey;
    opacity: 0.8;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-left: 23%;
    margin-right: 23%;
}
#todo li:hover {
    opacity: 1;
    cursor: pointer;
}
#todo li > button {
    font-weight: normal;
    background: none;
    border: solid;
    padding: 1px 7px;
    float: right;
    color: #000;
    /*color: #8ce09a;*/
    font-weight: 800;
    cursor: pointer;
    /*border: 3px solid #6baa75;*/
    border: 3px solid #fff;
    border-radius: 3px;
    outline: none;
}
#todo li > button:hover {
    /*background: #6baa75;*/
    background: #fff;
    color: #000;
}
input {
    border-radius: 5px;
    min-width: 50%;
    padding: 5px;
    border: none;
    outline: none;
}
.done {
    background: #6baa75 !important;
}
.done button {
    /*border: 3px solid #538a5d !important;*/
    /*color: #8ce09a !important;*/
    border: 3px solid #fff;

}
.done button:hover {
    /*background: #538a5d !important;*/
    background: #fff;
}
.delete {
    display: none;
}
.container {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    /*margin: 20px;*/
}