* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /*background: url('img/tech.png')center/cover no-repeat;*/
    background: #545454;
    color: white;
    text-transform: capitalize;
}
.navbar__header {
    background: #545454;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 0.3rem solid #6baa75;
}
.navbar__btn {
    align-self: center;
    border: 5px solid #6baa75;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    background: #6baa75;
    transition: all 1s ease;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
.navbar__links {
    list-style-type: none;
    transition: all 1s ease;
    /* */
    height: 0;
    overflow: hidden;
}
.navbar__collapse {
    height: 300px;
}
.navbar__single-link {
    display: block;
    background: #69747c;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #6baa75;
    transition: all 1s ease;
    cursor: pointer;
}
.navbar__single-link:hover {
    padding-left: 1.5rem;
    background: #545454;
}

/* Kode for counter */

.counter-box {
    flex: 0 0 70%;
    text-align: center;
    border: 3px solid grey;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 6px 6px 10px 0px black;
}
.counter {
    font-size: 6rem;
}
.btn {
    background: #fff;
    border-radius: 8px;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    /*box-shadow: 0px 5px #001221;*/
    outline: none;
    box-shadow: 0px 2px #001221;
}
#addCountBtn {
    /*border: 3px solid #4caf50;*/
    border: 3px solid #6baa75;
}
#resetCountBtn {
    padding: 0.6875rem;
    border: none;
    background: #4b4a4a;
    color: white;
    box-shadow: none;
}
#lowerCountBtn {
    border: 3px solid #f15025;
}
#addCountBtn:hover {
    /*background: #4caf50;*/
    background: #6baa75;
    color: white;
    cursor: pointer;
}
#resetCountBtn:hover {
    background: #545454;
    color: white;
    cursor: pointer;
}
#lowerCountBtn:hover {
    background: #f15025;
    color: white;
    cursor: pointer;
}
.btn:active {
    box-shadow: none;
}

/* Kode for klokka */

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #6baa75;
    display: flex;
    align-items: center;    
    justify-content: center;
}

/* Login */

.login {
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 11.5px; 
    padding: 0.5rem 3rem;
}

.login:hover {
    cursor: pointer;
}

.loginLink {
    text-decoration: none;
}

/* Social media */

.socialM.fab {
    margin-top: 11.5px;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin-in {
    color: white;
}

.socialM.fab:hover {
    opacity: 0.7;
}