* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /*background: #545454;*/
    flex: 0 0 80%;
    min-height: 100vh;
    background: #000 url("img/bcg-2.jpg")center no-repeat;
}
.navbar__header {
    /*background: #545454;*/
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    /*border-bottom: 0.3rem solid #6baa75;*/
}

.navbar__logo {
    margin-top: 5px;
}
#myLogo {
    outline: none;
    color: white;
    margin-top: 13.5px;
    margin-left: 10px;
    font-size: 2rem;
    font-family: orbitron;
}
#logoo {
    text-decoration: none;
}
.navbar__btn {
    align-self: center;
    /*border: 5px solid #6baa75;*/
    border: 5px solid #fff;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    /*background: #6baa75;*/
    background: #fff;
    transition: all 1s ease;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 9px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-9px, -9px);
}
.navbar__links {
    list-style-type: none;
    transition: all 1s ease;
    /* */
    height: 0;
    overflow: hidden;
    position: absolute;
}
.navbar__collapse {
    height: 240px;
    background: transparent;
    position: absolute;
}

.navbar__single-link {
    display: block;
    /*background: #69747c;*/
    /*background: black;*/
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    /*color: #6baa75;*/
    color: #fff;
    transition: all 1s ease;
    cursor: pointer;
}
.navbar__single-link:hover {
    padding-left: 1.5rem;
    /*background: #545454;*/
    /*background: rgb(12, 12, 12);*/
    opacity: 0.7;
}

/* Kode for counter */

.counter-box {
    flex: 0 0 70%;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
}
.counter {
    font-size: 6rem;
    color: #fff;
    opacity: 0.9;
}
.btn {
    background: #fff;
    border-radius: 8px;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    /*box-shadow: 0px 5px #001221;*/
    outline: none;
    box-shadow: 0px 2px #001221;
    opacity: 0.9;
}
#addCountBtn {
    /*border: 3px solid #4caf50;*/
    border: 3px solid #6baa75;
}
#resetCountBtn {
    padding: 0.6875rem;
    border: none;
    background: #4b4a4a;
    color: white;
    box-shadow: none;
}
#lowerCountBtn {
    border: 3px solid #f15025;
}
#addCountBtn:hover {
    /*background: #4caf50;*/
    background: #6baa75;
    color: white;
    cursor: pointer;
}
#resetCountBtn:hover {
    background: #545454;
    color: white;
    cursor: pointer;
}
#lowerCountBtn:hover {
    background: #f15025;
    color: white;
    cursor: pointer;
}
.btn:active {
    box-shadow: none;
}

/* Login */

.login {
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 11.5px; 
    padding: 0.5rem 3rem;
}

.login:hover {
    cursor: pointer;
}

.loginLink {
    text-decoration: none;
}

/* Social media */

.socialM.fab {
    margin-top: 11.5px;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin-in {
    color: white;
}

.socialM.fab:hover {
    opacity: 0.7;
}