* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
    background: #545454;
}
.navbar__header {
    background: #545454;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 0.3rem solid #6baa75;
}
.navbar__btn {
    align-self: center;
    border: 5px solid #6baa75;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    background: #6baa75;
    transition: all 1s ease;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
.navbar__links {
    list-style-type: none;
    transition: all 1s ease;
    /* */
    height: 0;
    overflow: hidden;
}
.navbar__collapse {
    height: 300px;
}
.navbar__single-link {
    display: block;
    background: #69747c;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #6baa75;
    transition: all 1s ease;
    cursor: pointer;
}
.navbar__single-link:hover {
    padding-left: 1.5rem;
    background: #545454;
}

/* her begynde quote generator css */

.container {
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #545454;
    flex: 0 0 80%;
}
#quotesBy {
    padding: 1rem;
    color: #FFF;
}
#quoteBtn {
    border: none;
    color: #fff;
    background: #6baa75;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}
#quoteBtn:hover {
    opacity: 0.8;
}
blockquote {
    background: #545454;
    border-left: 10px solid #6baa75;
    margin: 1.5rem;
    padding: 0.5rem;
    color: #6baa75;
}
#quoteAuthor {
    color: #6baa75;

}

/* Kode for klokka */

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #6baa75;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login */

.login {
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 11.5px; 
    padding: 0.5rem 3rem;
}

.login:hover {
    cursor: pointer;
}

.loginLink {
    text-decoration: none;
}

/* Social media */

.socialM.fab {
    margin-top: 11.5px;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin-in {
    color: white;
}

.socialM.fab:hover {
    opacity: 0.7;
}